.mapGame {
    border-spacing: 0px;
    transform: scale(0.9);
}

.row {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
}

.baseMap {
    transform: rotateZ(-45deg) rotateX(0deg) scaleX(0.5);
    width: 60px;
    height: 60px;
    padding: 0;

}

.noSell {
    padding: 0;
    transform: rotateZ(-45deg) rotateX(0deg) scaleX(0.5);
    width: 60px;
    height: 60px;
}

.testPlayer {
    background-image: url(../img/shiptest.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    padding: 0;
}

.gameGrid {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0;
}

.cellImg {
    position: absolute;
    z-index: 98;
    top: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 170px;
}

.shipImg {
    z-index: 99;
    position: absolute;
    top: -45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.obstacleImg {
    z-index: 99;
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 160px;
}

.opacity02{
    opacity: 0.25;
}

.shipPos {
    z-index:99;
}

.weaponImg {
    z-index: 99;
    position: absolute;
    top: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}